body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: beige;
    overflow: hidden;
}
section {
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 600px;
    border-radius: 10px;
    background-color: rgb(240, 235, 189);
}

#content{
    padding-left: 5%;
    width: 90%;
}

#content h2{
    background-color: whitesmoke;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    margin-top: 2%;

}

#content ul{
    background-color: whitesmoke;
    list-style: none;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 25%;
    margin-top: 8%;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    background-color:  whitesmoke;
    color: #000000;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgb(240, 235, 189);
}

nav {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

 nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color:palegoldenrod;
}

nav a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:pink;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

nav a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}





